<div class="container" id="container2">
  <div class="body_fill_area">
    <div class="col-lg-6">
      <h2>Friends List</h2>
      <div class="bs-component">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">All</a></li>
          <li class=""><a href="#accepted" data-toggle="tab" aria-expanded="false">Accepted</a></li>
          <li class=""><a href="#pending" data-toggle="tab" aria-expanded="false">Pending</a></li>
          <li class=""><a href="#requested" data-toggle="tab" aria-expanded="false">Requested</a></li>
          <li class=""><a href="#blocked" data-toggle="tab" aria-expanded="false">Blocked</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="all">
            <% if @user_friendships.empty? %>
              <p>There are no friendships to view!</p>
            <% end %>
            <table class="friendship">
              <% @user_friendships.each do |friendship| %>
                <%= render partial: 'friendship', locals: { user_friendship: user_friendship } %>
              <% end %>
            </table>
          </div>
          <div class="tab-pane fade" id="accepted">
            <table class="friendship">
              <% if @accepted_friendships.empty? %>
                <p>There are no friendships to view!</p>
              <% end %>
              <% @accepted_friendships.each do |friendship| %>
                <%= render partial: 'friendship', locals: { user_friendship: user_friendship } %>
              <% end %>
            </table>
          </div>
          <div class="tab-pane fade" id="pending">
            <table class="friendship">
              <% if @pending_friendships.empty? %>
                <p>There are no friendships to view!</p>
              <% end %>
              <% @pending_friendships.each do |friendship| %>
                <%= render partial: 'friendship', locals: { user_friendship: user_friendship } %>
              <% end %>
            </table>
          </div>
          <div class="tab-pane fade" id="requested">
            <table class="friendship">
              <% if @requested_friendships.empty? %>
                <p>There are no friendships to view!</p>
              <% end %>
              <% @requested_friendships.each do |friendship| %>
                <%= render partial: 'friendship', locals: { user_friendship: user_friendship } %>
              <% end %>
            </table>
          </div>
          <div class="tab-pane fade" id="blocked">
            <table class="friendship">
              <% if @blocked_friendships.empty? %>
                <p>There are no friendships to view!</p>
              <% end %>
              <% @blocked_friendships.each do |friendship| %>
                <%= render partial: 'friendship', locals: { user_friendship: user_friendship } %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
