<div class="container" id="container2">
  <div class="body_fill_area">
    <% if @friend %>

      <h1><%= @friend.username %></h1>

      <p>Do you really want to friend <%= @friend.username %>?</p>

      <%= form_for @user_friendship, method: :post do |form|  %>
        <div class="form form-actions">
          <%= form.hidden_field :friend_id, value: @friend.id %>
          <%= submit_tag "Yes, add friend", class: "btn btn-primary" %>
          <%= link_to "Cancel", user_path(@friend.username), class: "btn" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
