<div class="container" id="container2">
  <div class="body_fill_area">
    <div class="create_wrap">
      <h3><i class="fa fa-cogs"></i>Account Settings</h3>
      <div class="row edit_acc_wrap">
        <div class="col-md-6 col-md-offset-3">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password, autocomplete: "off", required: false %>
              <%= f.input :password_confirmation, required: false %>
              <%= f.input :current_password, required: true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Update" %>
            </div>
          <% end %>

          

        </div>
      </div>
      <div class="wrapper_foot">
        <p>Unhappy? <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete do %><i class="fa fa-ban"></i>Cancel my account<% end %></p>
      </div>
    </div>
  </div>
</div>




