<div class="comm_with_reply">
    <div class="user_comment">
      <div class="user_comment_wrap">
        <%= image_tag comment.user.avatar(:thumb) %>
        <a href="#"><span class="comment_header"><%= comment.user.username.capitalize %></span></a>

        <p class="comment_header_p"><span class="small_dot">·</span><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</p><br/>
        <p class="user_comment_text"><%= comment.body %><p class="comment_functions_p">
      </div>
        <div class="post_functions_area comment_footer">
            <% if current_user.liked? comment %>
                <%= link_to unlike_chatroom_broadcast_comment_path(comment.broadcast.chatroom, comment.broadcast, comment), class: 'thumb_btn rmv_btn unlike_broadcast', method: :get, remote: true do %>
                    <span class="rmv_thumb">Thumbed up</span><p class="v_count"><%= comment.get_likes.size %></p>
                <% end %>
            <% else %>
                <%= link_to like_chatroom_broadcast_comment_path(comment.broadcast.chatroom, comment.broadcast, comment), class: "thumb_btn like_broadcast", method: :get, remote: true do %>
                    <span>Thumbs up</span><p class="v_count"><%= comment.get_likes.size %></p>
                <% end %>
            <% end %>
        </div>
    </div>
        <!-- END -->
        <!-- REPLY COMMENT INPUT SECTION -->
        <div class="reply_comm_section">
            <div class="user_comment_input" id="comm_reply_input">
                <%= image_tag current_user.avatar(:thumb) %>
                <textarea placeholder="Write a comment ..." name="message" class="input_field_comment"></textarea>
                <input type="submit" value="Post Comment" class="input_comment_btn">
            </div>
        </div>
        <!-- END COMMENT INPUT -->
    </div>

