= simple_form_for @room do |f|
	%p.ftitle Chatroom title
	= f.input :title, label: false
	%p.ftitle Chatroom description
	= f.input :description, label: false
	%p.ftitle Select related game
	= f.text_field :game_name, data: { autocomplete_source: Game.order(:name).map(&:name) }

	=f.button :submit

	= 'my new changes'
	