<% if @fav %>
 <%= render 'chatrooms/favorite_chatrooms' %>
<% elsif @own %>
 <%= render 'chatrooms/own_chatrooms' %>
<% else %>
    <div class="container" id="container2">
        <div class="body_fill_area">
        <div class="wel_header">
            <p>We've collected the top chatrooms based on your interests. If you can't find what you are looking for create your own room: <%= link_to 'Create Room', new_chatroom_path, class: "small_btn_y" %></p>
        </div>

        <div class="g_tag_header">
        <% if @game %>
            <h3 class="game_title"><%= @game.name.capitalize %></h3>
                <div class="col-md-4 col-md-offset-4 fav_count">
                    <span class="fav_by_btn"><i class="fa fa-gamepad"></i><%= @game.favorited_by.count %></span>
                </div>
                <% if current_user.fav_games.where(name: @game.name).count > 0 %>
                    <%= link_to favorite_game_path(@game, type: "unfavorite"), class: "unfav_btn", method: :put, remote: true do %>
                        <span class="fav_room_btn unfav">
                            <i class="fa fa-gamepad"></i>
                            Unfavorite game
                        </span>
                    <% end %>
                <% else %>
                    <%= link_to favorite_game_path(@game, type: "favorite"), class: "fav_btn", method: :put, remote: true do %>
                        <span class="fav_room_btn fav_game">
                            <i class="fa fa-gamepad"></i>
                            Favorite game
                        </span>
                    <% end %>
                <% end %>
        <% else %>
            <h3>Top Games</h3>
            <% Game.all.limit(15).each do |game| %>
                <%= link_to game.name, chatrooms_path(game: game.name), class: "game_tag_link" %>
            <% end %>
        <% end %>
        </div>

        <div class="splitter_light"></div>

        <div class="transitions-enabled row" id="rooms">

        <% @room.each do |room| %>
            <div class="col-md-4 col-xs-6 box">
            <div class="room_set">
                <a href="<%= chatroom_path(room) %>">
                    <%= image_tag room.game.thumb.url(:medium) %>
                    <div class="r_wrap">
                        <p class="game_tag_t"><i class="fa fa-gamepad"></i><%= room.game.name %></p>
                        <h3><%= room.title %></h3>
                        <div class="splitter"></div>


                        <p><%= truncate room.description, length: 200 %></p>
                    </div>
                    <div class="foot">
                        <p><i class="fa fa-child"></i><%= room.user.username.capitalize %><span class="small_dot">·</span><i class="fa fa-users"></i>24</p>
                    </div>
                    <div class="go-sign">
                        <p>Go<i class="fa fa-angle-right" id="spin"></i></p>
                    </div>
                </a>
            </div>
            </div>

        <% end %>
        </div>
        </div>
    </div>
<% end %>
