%h1= @room.title
%p= @room.description
%p= link_to @room.user.username.capitalize, user_path(@room.user)


%h4= pluralize(@room.broadcasts.count, "Broadcast")
- @room.broadcasts.each do |broadcast|
	%p= broadcast.user.username
	%p= broadcast.content

= render 'broadcasts/form'


= link_to "Home", root_path
= link_to "Edit", edit_chatroom_path(@room)
= link_to "Delete", chatroom_path(@room), method: :delete, data: { confirm: "Are you sure?" }