    <!-- CHATROOM SITE DESIGN -->
    <div class="container" id="container2">
        <div class="body_fill_area">

            <%= render 'chatrooms/room_title' %>
            
            <div class="user_window_title">
                <h2>Userlist</h2>
            </div>
            <div class="chatwindow">
                <div class="chat_inside">
                  <div class="chat_message_area" data-behavior="chat-messages" data-chatroom-id="<%= @room.id %>">

                    <% @chat_messages.each do |chat_message| %>
                      <%= render chat_message %>
                    <% end %>                    <!--
                                              <div class="user_chat_message">
                            <div class="chat_msg_sender">
                                <%= image_tag 'pb2.gif', class: 'chat_user_img' %>
                                <a href="#"><span class="comment_header chat_msg_username">Usern</span></a><span>:</span>
                            </div>
                            <div class="user_msg_info">
                                <p>15:17</p>
                            </div>
                            <div class="user_chat_msg_div">
                                <p class="user_chat_msg_p">This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag</p>
                            </div>
                        </div>
                        <div class="user_chat_message">
                            <div class="chat_msg_sender">
                                <%= image_tag 'gaben.png', class: 'chat_user_img' %>
                                <a href="#"><span class="comment_header chat_msg_username">Usernameislong</span></a><span>:</span>
                            </div>
                            <div class="user_msg_info">
                                <p>15:17</p>
                            </div>
                            <div class="user_chat_msg_div">
                                <p class="user_chat_msg_p">This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag</p>
                            </div>
                        </div>
                        <div class="user_chat_message">
                            <div class="chat_msg_sender">
                                <%= image_tag 'pb.png', class: 'chat_user_img' %>
                                <a href="#"><span class="comment_header chat_msg_username">Usernameislonjgsg</span></a><span>:</span>
                            </div>
                            <div class="user_msg_info">
                                <p>15:17</p>
                            </div>
                            <div class="user_chat_msg_div">
                                <p class="user_chat_msg_p">This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag</p>
                            </div>
                        </div>
                        <div class="user_chat_message">
                            <div class="chat_msg_sender">
                                <%= image_tag 'pb2.png', class: 'chat_user_img' %>
                                <a href="#"><span class="comment_header chat_msg_username">Usern</span></a><div class="outer_icon">
                                <span class="ion-ios-checkmark tool_icon">
                                    <span class="upside_tooltip_box follow_tool no_wrap">Chatroom Admininistator<div class="arrow-down"></div></span>
                                </span>
                            </div><span>:</span>
                        </div>
                        <div class="user_msg_info">
                            <p>15:17</p>
                        </div>
                        <div class="user_chat_msg_div">
                            <p class="user_chat_msg_p">This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag</p>
                        </div>
                    </div>
                    <div class="user_chat_message">
                        <div class="chat_msg_sender">
                            <%= image_tag 'gaben.png', class: 'chat_user_img' %>
                            <a href="#"><span class="comment_header chat_msg_username">Username</span></a><span>:</span>
                        </div>
                        <div class="user_msg_info">
                            <p>15:17</p>
                        </div>
                        <div class="user_chat_msg_div">
                            <p class="user_chat_msg_p">This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag This is a random chat message. What is up?? #Randomhashtag</p>
                        </div>
                      </div>
                      -->


                <%= render 'chat_messages/chat_menu' %>

            </div>
        </div>
        <div class="userwindow">
            <div class="chat_inside">
                <div class="users_pop_area">

                    <%= render 'chatrooms/user_list' %>

                </div>
                <span class="clear_list_btn">
                    <i class="fa fa-times-circle"></i>Clear list
                </span>
                <span class="invite_all_btn">
                    <i class="fa fa-paper-plane"></i>Invite All
                </span>
                <p class="window_tip">Use #hashtags in the chatwindow to match with other users. Users matching your hashtags will appear above.</p>
            </div>
        </div>

        <!-- Chatroom site funtions buttons // Follow & Favorite //INVITE -->
        <div class="chatroom_functions">
            <% if current_user.favorites.where(title: @room.title).count > 0 %>
              <%= link_to favorite_chatroom_path(@room, type: "unfavorite"), class: "unfav_btn", method: :put, remote: true do %>
                <span class="fav_room_btn unfav">
                    <i class="fa fa-heart noselect"></i>
                    Unfavorite room
                </span>
              <% end %>
            <% else %>
              <%= link_to favorite_chatroom_path(@room, type: "favorite"), class: "fav_btn", method: :put, remote: true do %>
                <span class="fav_room_btn">
                    <i class="fa fa-heart noselect"></i>
                    Favorite room
                </span>
              <% end %>
            <% end %>
        </div>
        <!-- PART END -->


        <!-- FRIEND INVITE SECTION -->
        <div class="chatroom_functions_right">
            <span class="invite_room_btn">
                <i class="ion-person-add noselect"></i>
                <span class="upside_tooltip_box follow_tool no_wrap noselect" id="square_btn_position">Invite friends to this chatroom<div class="arrow-down"></div>
                </span>
                <div class="messagepop pop">
                    <div class="arrow_up" id="inv_friend_arrow_border"></div>
                    <div class="arrow_up" id="inv_friend_arrow"></div>
                    <div class="corner_cross" id="close">
                        <i class="ion-close-round"></i>
                    </div>
                    <div class="invite_friends_header">
                        <h3>Invite Friends</h3>
                    </div>
                    <div class="inv_friends_search">
                        <p>Select the friends you whish to invite.</p>
                        <form action="/search" method="get">
                            <div class="inner_search">
                                <input type="text" name="q" class="input_search_bar" placeholder="Search friends" autocomplete="off" tabindex="1" value="" id="inv_search">
                            </div>
                        </form>
                    </div>

                    <!-- FRIEND LIST-->
                    <div class="users_pop_area" id="inv_friends_box">
                        <!-- FRIEND DIV -->
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <!-- END FRIEND DIV -->
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="inbox_message inv_friend_div">
                            <div class="msg_from_pic">
                                <%= image_tag 'pb.png' %>
                            </div>
                            <div class="msg_info_from">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <!-- END FRIENDS ON FRIENDLIST -->
                    </div>

                    <div class="inv_btns_section">
                        <span class="default_small_btn float_left inv_deselect_all">
                            Deselect all
                        </span>
                        <span class="default_small_btn float_right inv_select_all">
                            Select All
                        </span>
                    </div>
                    <span class="inv_friend_final_btn">
                        Invite
                    </span>
                </div>
            </span>
        </div>

        <!-- END -->

        <div class="wrap_divs">
            <!-- CHATROOM TAGS INFO -->
            <div class="chatroom_info_window">
                <h4>Tags</h4>
                <h5>Most used tags in this chatroom</h5>
                <div class="used_tags_list">
                    <a href="#">#5v5</a>
                    <a href="#">#Teammacth</a>
                    <a href="#">#Rank</a>
                    <a href="#">#Diamond</a>
                    <a href="#">#Custom</a>
                    <a href="#">#LeagueofLegends</a>
                    <a href="#">#LFTeam</a>
                    <a href="#">#RankedGame</a>
                    <a href="#">#Custom</a>
                </div>
                <h5>Use following commands to get in touch with admins</h5>
                <div class="admins_at_list">
                    <a href="#">@Adminname</a>
                    <a href="#">@username</a>
                    <a href="#">@user</a>
                    <a href="#">@usernametwo</a>
                </div>
            </div>
            <!--  -->
            <!-- CHATOOM INFORMATION WINDOW -->
            <div class="chatroom_info_window">
                <h4>About</h4>
                <p><%= @room.description %></p>
                <div class="chatroom_info_icons">
                </div>
                <div class="chatroom_info_icons border_bottom">
                    <i class="fa fa-globe"></i>
                    <span class="small_dot">·</span>
                    <i class="fa fa-calendar-o"></i><span class="small_size">Chatroom created <%= distance_of_time_in_words(Time.now, @room.created_at) %> ago.</span>
                </div>
                <h5>Chatroom administator</h5>
                <div class="admin_list">
                    <div class="admin_img_status">
                        <%= image_tag @room.user.avatar.url(:thumb) %>
                        <% if @room.user.last_seen_at > 10.minutes.ago %>
                            <div class="admin_status_icon">
                            </div>
                        <% else %>
                            <div class="admin_status_icon" id="offline_icon">
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- END CHATROOM INFO WINDOW -->
            <div class="chatroom_info_window">
                <h4>Explore</h4>
                <h5>Related chatrooms</h5>
                <div class="explore_list">
                    <% Chatroom.find_random_room(5).all.each do |room| %>
                    <div class="chat_ad_div">
                        <%= link_to chatroom_path(room) do %>
                        <h6><%= room.title %></h6>
                        <div class="chat_ad_go">
                            <p>Go<i class="fa fa-angle-right"></i></p>
                        </div>
                        <div class="chat_ad_tag">
                            <i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
                        </div>
                        <div class="chat_title_info small_title_info">
                            <p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
                            <p><i class="fa fa-users"></i>80</p>
                        </div>
                        <% end %>
                    </div>
                    <% end %>

                </div>
                <span class="small_text_chat_ad">Can't find what you are looking for?</br>Click below to create your own chatroom.</span></br></br>
                <a href="<%= new_chatroom_path %>" class="default_div_btn"><i class="fa fa-plus"></i>Create Room</a>
            </div>
        </div>



        <div class="wrap_broadcasts">
          <% if @room.user == current_user %>
            <div class="broadcastwindow m_top">
                <div class="broad_title">
                    <p class="broadheader">Create a new broadcast</p>
                </div>
                <div class="user_post_area broad_post">
                    <%= render 'broadcasts/form' %>
                </div>
            </div>
          <% else %>
            <div class="broadcastwindow m_top">
                <div class="broad_title">
                    <p class="broadheader">Create a new broadcast</p>
                </div>
                <div class="user_post_area broad_post">
                    <%= render 'broadcasts/form' %>
                </div>
            </div>
          <% end %>

        <div class="feat_split_wrap">
            <div class="splitter_light">
            </div>
            <p><i class="fa fa-hand-peace-o"></i>Featured</p>
        </div>

        <% @room.broadcasts.top_featured.each do |featured| %>
            <%= render :partial => "broadcasts/show", locals: {broadcast: featured} %>
        <% end %>

        <div class="feat_split_wrap">
            <div class="splitter_light">
            </div>
            <p><i class="fa fa-clock-o"></i>Newest</p>
        </div>
        <div class="append_broad">
        <div id="append_broad">
        </div>
        <% @room.broadcasts.where.not(id: @room.broadcasts.top_featured).order('created_at DESC').each do |broadcast| %>
            <%= render :partial => "broadcasts/show", locals: {broadcast: broadcast} %>
        <% end %>
        </div>





        <!-- BROADCAST WITH COMMENTS (TEMPLATE)
        <div class="broadcastwindow">
            <div class="broadcastwindow_header">
                <div class="recent_broadcast_icon">
                    <i class="ion-radio-waves fa-spin"></i>
                </div>
                <div class="follow_broadcast_btn">
                    <i class="fa fa-eye"></i>
                    <div class="upside_tooltip_box follow_tool no_wrap" id="follow_tool_position">
                        <span>Follow this broadcast</span>
                        <div class="arrow-down"></div>
                    </div>
                </div>
            </div>
            <div class="user_poster_info">
                <%= image_tag 'pb2.png' %>
                <div class="user_poster_info_text">
                    <a href="#"><span class="header_p_link">Username</span></a>
                    <div class="outer_icon">
                        <span class="veri_icon ion-ios-checkmark tool_icon">
                            <span class="upside_tooltip_box follow_tool no_wrap" id="user_header_tool_position">Chatroom Admininistator<div class="arrow-down"></div></span>
                        </span>
                    </div>
                    <p class="poster_info_p"><i class="fa fa-clock-o"></i>Posted 5 minutes ago</p>
                    <p class="poster_info_p"><i class="fa fa-tag"></i><span class="poster_tag_link">League of legends</span><span>·</span><span class="poster_tag_link">5v5</span><span>·</span><span class="poster_tag_link">Platinum</span></p>
                </div>
            </div>
            <div class="user_post_area">
                <div class="user_post_area_inside">
                    <p>This is a random broadcast. Please go ahead and like it. This is a random broadcast. Please go ahead and like it.</p>
                    <p>This is a random broadcast. Please go ahead and like it. This is a random broadcast. Please go ahead and like it.This is a random broadcast. Please go ahead and like it. This is a random broadcast. Please go ahead and like it.</p>
                </div>
            </div>
            <div class="post_functions_area">
                <p>
                    <i class="fa fa-thumbs-up thumb_icon"></i>
                    98 Thumbs up
                    <span class="small_dot">·</span>
                    <span class="small_functions_link thumbs_up">Thumbs up this broadcast</span>
                    <span class="small_functions_link thumbs_down">Remove thumbs up</span>
                </p>
                <p class="broadcast_float_right"><i class="fa fa-comments-o"></i><span class="small_functions_link comm_toggle noselect">9 Comments</span></p>
            </div>
            <div class="user_comment_input">
                <%= image_tag 'gaben.png' %>
                <textarea placeholder="Write a comment ..." name="message" class="input_field_comment"></textarea>
                <input type="submit" value="Post Comment" class="input_comment_btn">
            </div>


            <div class="post_comment_area">


                <div class="comm_with_reply">
                    <div class="user_comment">
                        <%= image_tag 'pb2.png' %>
                        <a href="#"><span class="comment_header">Usernamislongwtfe</span></a>
                        <div class="outer_icon">
                            <span class="veri_icon ion-ios-checkmark tool_icon">
                                <span class="upside_tooltip_box follow_tool no_wrap">Chatroom Admininistator<div class="arrow-down"></div></span>
                            </span>
                        </div>
                        <p class="comment_header_p"><span class="small_dot">·</span>10 minutes ago.</p><br/>
                        <p class="user_comment_text">This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!<p class="comment_functions_p">
                            <i class="fa fa-thumbs-up thumb_icon"></i>98 Thumbs up<span class="small_dot">·</span><span class="small_functions_link thumbs_up">Thumbs up this comment</span><span class="small_functions_link thumbs_down">Remove thumbs up</span></p>
                            <p class="broadcast_float_right comment_functions_p"><i class="fa fa-comments-o"></i>2 Comments<span class="small_dot">·</span><span class="small_functions_link reply_btn noselect">Reply</span></p></p>
                        </div>

                        <div class="reply_comm_section">
                            <div class="user_comment_input" id="comm_reply_input">
                                <%= image_tag 'gaben.png' %>
                                <textarea placeholder="Write a comment ..." name="message" class="input_field_comment"></textarea>
                                <input type="submit" value="Post Comment" class="input_comment_btn">
                            </div>
                        </div>

                    </div>

                    <div class="user_comment user_comment_reply">
                        <%= image_tag 'pb2.png' %>
                        <a href="#"><span class="comment_header">Usernamislongwtfe</span></a>
                        <div class="outer_icon">
                            <span class="veri_icon ion-ios-checkmark tool_icon">
                                <span class="upside_tooltip_box follow_tool no_wrap">Chatroom Admininistator<div class="arrow-down"></div></span>
                            </span>
                        </div>
                        <p class="comment_header_p"><span class="small_dot">·</span>10 minutes ago.</p><br/>
                        <p class="user_comment_text">This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!<p class="comment_functions_p"><i class="fa fa-thumbs-up thumb_icon"></i>98 Thumbs up<span class="small_dot">·</span><span class="small_functions_link thumbs_up">Thumbs up this comment</span><span class="small_functions_link thumbs_down">Remove thumbs up</span></p>
                    </div>


                    <div class="user_comment user_comment_reply">
                        <%= image_tag 'pb2.gif' %>
                        <a href="#"><span class="comment_header">Username</span></a>
                        <p class="comment_header_p"><span class="small_dot">·</span>10 minutes ago.</p><br/>
                        <p class="user_comment_text">This is a random comment. <i class="fa fa-smile-o"></i><p class="comment_functions_p"><i class="fa fa-thumbs-up thumb_icon"></i>98 Thumbs up<span class="small_dot">·</span><span class="small_functions_link thumbs_up">Thumbs up this comment</span><span class="small_functions_link thumbs_down">Remove thumbs up</span></p>
                    </div>


                    <div class="comm_with_reply">
                        <div class="user_comment">
                            <%= image_tag 'pb2.png' %>
                            <a href="#"><span class="comment_header">Usernamislongwtfe</span></a>
                            <div class="outer_icon">
                                <span class="veri_icon ion-ios-checkmark tool_icon">
                                    <span class="upside_tooltip_box follow_tool no_wrap">Chatroom Admininistator<div class="arrow-down"></div></span>
                                </span>
                            </div>
                            <p class="comment_header_p"><span class="small_dot">·</span>10 minutes ago.</p><br/>
                            <p class="user_comment_text">This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!This is a random comment. I like this broadcast a lot man!<p class="comment_functions_p">
                                <i class="fa fa-thumbs-up thumb_icon"></i>98 Thumbs up<span class="small_dot">·</span><span class="small_functions_link thumbs_up">Thumbs up this comment</span><span class="small_functions_link thumbs_down">Remove thumbs up</span></p>
                                <p class="broadcast_float_right comment_functions_p"><i class="fa fa-comments-o"></i>2 Comments<span class="small_dot">·</span><span class="small_functions_link reply_btn noselect">Reply</span></p></p>
                            </div>

                            <div class="reply_comm_section">
                                <div class="user_comment_input" id="comm_reply_input">
                                    <%= image_tag 'gaben.png' %>
                                    <textarea placeholder="Write a comment ..." name="message" class="input_field_comment"></textarea>
                                    <input type="submit" value="Post Comment" class="input_comment_btn">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                -->

            </div>
        </div>
    </div>
