<div class="login_bg">
	
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<h3>Login to your account</h3>
	<% if flash[:notice] %>
        <p class="alert"><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:alert] %>
		<p class="alert"><%= flash[:alert] %></p>
	<% end %>
	<div class="main_login_box">
	    <%= f.input :login, :autofocus => true, label: "Email or username", label_html: { class: "main_login_h5" } %>
	    <br>
	    <%= f.input :password, required: false, label_html: { class: "main_login_h5" } %>
	    <br>
	    <%= f.input :remember_me, label_html: { id: 'keep_login_p' }, as: :boolean if devise_mapping.rememberable? %>

	

	  <div class="form-actions">
	    <%= f.button :submit, "Log in", :id => "input_login_btn" %>
	  </div>
	</div>
	<p class="main_login_p"><span class="ion-key" id="lost_password_icon"></span>Cant login? <a href="./lostpassword.php" title="Lost Password"><b>click here</b></a> to reset your password.</p>
    <p class="main_login_p"><span class="ion-ios-personadd" id="new_user_icon"></span>New user? If you would like to join the network <a href="<%= new_user_registration_path %>" title="Register"><b>sign up.</b></a></p>
	<% end %>

</div>

