

		<div class="broadcastwindow">
            <div class="broad-setting">
                <% if broadcast.user == current_user %>
                    <%= link_to edit_chatroom_broadcast_path(@room, broadcast), class: "broad_func_btn" do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to chatroom_broadcast_path(@room, broadcast), method: :delete, data: { confirm: 'Are you sure you want to delete this broadcast?' }, class: "broad_func_btn" do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>
                <% else %>
                <% end %>
            </div>
            <div class="broadcastwindow_header">
            </div>
            <div class="user_poster_info">
                <%= image_tag broadcast.user.avatar.url(:thumb) %>
                <div class="user_poster_info_text">
                    <a href="<%= user_path(@room.user.username) %>"><span class="header_p_link"><%= @room.user.username.capitalize %></span></a>
                    <div class="outer_icon">
                    <span class="veri_icon ion-ios-checkmark tool_icon">
                            <span class="upside_tooltip_box follow_tool no_wrap" id="user_header_tool_position">Chatroom Admininistator<div class="arrow-down"></div></span>
                    </span>
                    </div>
                    <p class="poster_info_p"><i class="fa fa-clock-o"></i>Posted <%= distance_of_time_in_words(Time.now, broadcast.created_at) %> ago.</p>
                    <p class="poster_info_p"><i class="fa fa-tag"></i><span class="poster_tag_link">League of legends</span><span>·</span><span class="poster_tag_link">5v5</span><span>·</span><span class="poster_tag_link">Platinum</span></p>
                </div>
            </div>
            <div class="user_post_area">
                <div class="user_post_area_inside">
                    <%= image_tag broadcast.image.url(:medium), :class => 'broad_img_show' if broadcast.image? %>
                    <p><%= broadcast.content %></p>
                </div>
            </div>
            <div class="post_functions_area">
                    
                    <% if current_user.liked? broadcast %>
                        <%= link_to unlike_chatroom_broadcast_path(@room, broadcast), class: 'thumb_btn rmv_btn', method: :put do %>
                            <span class="rmv_thumb">Thumbed up</span><p><%= broadcast.get_likes.size %></p>
                        <% end %>
                    <% else %>
                        <%= link_to like_chatroom_broadcast_path(@room, broadcast), class: "thumb_btn", method: :put do %>
                            <span>Thumbs up</span><p><%= broadcast.get_likes.size %></p>
                        <% end %>
                    <% end %>
                    
                <p class="broadcast_float_right"><i class="fa fa-comments-o"></i><span class="small_functions_link comm_toggle noselect"> 0 comments</span></p>
            </div>
            <div class="user_comment_input">
                <%= image_tag broadcast.user.avatar.url(:thumb) %>
                
                
                <textarea placeholder="Write a comment ..." name="message" class="input_field_comment"></textarea>
                <input type="submit" value="Post Comment" class="input_comment_btn">
            </div>

            
            <div class="post_comment_area"> 

            </div>
        </div>