

        <div class="broadcastwindow">
            <div class="broad-setting">
                <% if broadcast.user == current_user %>
                    <%= link_to edit_chatroom_broadcast_path(broadcast.chatroom, broadcast), class: "broad_func_btn" do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to chatroom_broadcast_path(broadcast.chatroom, broadcast), method: :delete, data: { confirm: 'Are you sure you want to delete this broadcast?' }, class: "broad_func_btn" do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>
                <% else %>
                <% end %>
            </div>
            <div class="broadcastwindow_header">
            </div>
            <div class="user_poster_info">
                <%= image_tag broadcast.user.avatar.url(:thumb) %>
                <div class="user_poster_info_text">
                    <a href="<%= user_path(broadcast.chatroom.user.username) %>"><span class="header_p_link"><%= broadcast.chatroom.user.username.capitalize %></span></a>
                    <p class="poster_info_p"><i class="fa fa-clock-o"></i>Posted <%= distance_of_time_in_words(Time.now, broadcast.created_at) %> ago.</p>
                    <p class="poster_info_p"><i class="fa fa-tag"></i><span class="poster_tag_link">League of legends</span><span>·</span><span class="poster_tag_link">5v5</span><span>·</span><span class="poster_tag_link">Platinum</span></p>
                </div>
            </div>
            <div class="user_post_area">
                <div class="user_post_area_inside">
                    <%= image_tag broadcast.image.url(:medium), :class => 'broad_img_show' if broadcast.image? %>
                    <p><%= broadcast.content %></p>
                </div>
            </div>
            <div class="post_functions_area">
                    <% if current_user.liked? broadcast %>
                        <%= link_to unlike_chatroom_broadcast_path(broadcast.chatroom, broadcast), class: 'thumb_btn rmv_btn unlike_broadcast', method: :get, remote: true do %>
                            <span class="rmv_thumb">Thumbed up</span><p class="v_count"><%= broadcast.get_likes.size %></p>
                        <% end %>
                    <% else %>
                        <%= link_to like_chatroom_broadcast_path(broadcast.chatroom, broadcast), class: "thumb_btn like_broadcast", method: :get, remote: true do %>
                            <span>Thumbs up</span><p class="v_count"><%= broadcast.get_likes.size %></p>
                        <% end %>
                    <% end %> 

                <p class="broadcast_float_right"><i class="fa fa-comments-o"></i><span class="small_functions_link comm_toggle noselect"><%= broadcast.comments.size %> Comments</span></p>
            </div>
            <div class="user_comment_input">
                <%= image_tag current_user.avatar.url(:thumb) %>
                <%= simple_form_for [broadcast.chatroom, broadcast, Comment.new], remote: true  do |f| %>
                  <%= f.text_area :body, class: "input_field_comment" %>
                  <%= f.submit "Add Comment", class: "input_comment_btn" %>
                <% end %>
            </div>

            
            <div class="post_comment_area"> 
              <%= render :partial => broadcast.comments.order('created_at DESC') %>
            </div>
        </div>
        <!-- END BROADCAST WINDOW -->
