!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}/
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
		= favicon_link_tag 'favicon.ico'
		%title World's best social Chatroom for gamers
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

		%link{:rel => :stylesheet, :type => :"text/css", :href => "bootstrap/css/bootstrap.css"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}

		%link{:src => "http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"}
		%link{:src => "https://cdn.socket.io/socket.io-1.3.3.js"}

		%link{:rel => :stylesheet, :type => :"text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}
		%link{:rel => :stylesheet, :type => :"text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"}

		%link{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
		%link{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}

		%link{:rel => :stylesheet, :type => :"text/css", :href => "http://fonts.googleapis.com/css?family=Cabin"}

	%body
		%p.notice= notice
		%p.alert= alert

		.nav_login_false
			.container
				.nav_logoarea
					= link_to (image_tag "mainlogosmall.png", class: "nav_logo"), root_path

				.nav_search_bar
					%form{ :action => "/search", :method => "get" }
						.inner_search
							%input{:name => "q", :type => "text", :class => "input_search_bar", :value => "", :placeholder => "Search chatrooms, users, games etc.", :autocomplete => "off", :tabindex => "1"}/
							%button{:type => "submit", :class => "search_bar_btn"}

				.ul
					.li
						= link_to "#", class: "toggleuser" do
							= image_tag "gaben.png", class: "nav_user_pic"
							%span#nav_username
								= current_user.username.capitalize
							%span.ion-arrow-down-b#nav_user_dropdown_icon
						.user_dropdown#user_dropdown
							.arrow_up#user_menu_arrow
							.user_menu_list
								%ul
									%li
										= link_to user_path do
											%i.fa.fa-male#quickmenu_prodile_icon
												My Profile
									%li
										= link_to "#" do
											%i.fa.fa-inbox
												My Messages
								%ul
									%li
										= link_to "#" do
											%i.fa.fa-cogs
												Settings
									%li
										= link_to "#" do
											%i.fa.fa-key
												Change Password
									%li
										= link_to "#" do
											%i.fa.fa-tags
												Change Interest
								%ul
									%li
										= link_to "#" do
											%i.fa.fa-sign-out
												Logout
					.li
						= link_to "#", id: "toggleinbox" do
							%i.fa.fa-inbox
							.nav_notify_icon
								2



							

		= yield



			<div class="ul">
				<div class="li"><a href="#" id="toggleinbox"><i class="fa fa-inbox"></i><div class="nav_notify_icon">2</div></a><div class="nav_dropdown" id="inbox_dropdown">
						<div class="arrow_up" id="user_menu_arrow"></div>
						<div class="nav_dropdown_header">
							<h4>My Inbox</h4>
						</div>
						<div class="dropdown_fill_area before">
							<div class="inbox_message" id="unread">
								<div class="msg_from_pic">
									<img src="./img/pb.png"/>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>12:49</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>
							<div class="inbox_message" id="unread">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>04-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>
							<div class="inbox_message" id="read">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>
							<div class="inbox_message" id="read">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>
							<div class="inbox_message" id="read">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>
							<div class="inbox_message" id="read">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Username</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p>This is a custom message from me to you. Please answer.</p>
								</div>
							</div>

								<p id="msg_end_p">No more messages</p>
						</div>
						<div class="dropdown_footer">
							<a href="#" id="dropdown_a">View all messages</a>
						</div>
				</div></div>
				<div class="li"><a href="#" id="togglechat"><i class="fa fa-comments"></i></a><div class="nav_dropdown" id="chatdropdown">
						<div class="arrow_up" id="user_menu_arrow"></div>
						<div class="nav_dropdown_header">
							<h4>Chat Activity</h4>
						</div>
						<div class="dropdown_fill_area">
							<div class="inbox_message" id="invitation">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Chatroom Invitation!</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p><b>Username</b> has invited you to join the chatroom: League of Legends</p>
								</div>
								<div class="dropdown_btn_area">
									<div class="inviteicon">
										<i class="fa fa-comments"></i>
									</div>
									<a href="#" id="dropdown_btn1">Accept</a>
									<a href="#" id="dropdown_btn2">Ignore</a>
								</div>
							</div>
							<div class="inbox_message" id="invitation">
								<div class="msg_from_pic">
									<img src="./img/pb.png"></img>
								</div>
								<div class="msg_info_from">
									<h5>Chatroom Invitation!</h5>
									<h6>01-02-2015</h6>
								</div>
								<div class="inbox_msg_area">
									<p><b>Username</b> has invited you to join the chatroom: League of Legends</p>
								</div>
								<div class="dropdown_btn_area">
									<div class="inviteicon">
										<i class="fa fa-comments"></i>
									</div>
									<a href="#" id="dropdown_btn1">Accept</a>
									<a href="#" id="dropdown_btn2">Ignore</a>
								</div>
							</div>
							<p id="msg_end_p">No more chat activity.</p>
						</div>
						<div class="dropdown_footer">
							<a href="#" id="dropdown_a">View all chat activity</a>
						</div>
				</div></div>
				<div class="li"><a href="#" id="nav_last_item"><i class="fa fa-flag"></i></a><div class="nav_dropdown" id="notidropdown">
						<div class="arrow_up" id="user_menu_arrow"></div>
						<div class="nav_dropdown_header">
							<h4>Notifications</h4>
						</div>
						<div class="dropdown_fill_area">
							<div class="dropdown_nodata">
								<p><i class="fa fa-folder-open-o"></i>Nothing new!</p>
							</div>
						</div>
						<div class="dropdown_footer">
							<a href="#" id="dropdown_a">View all notifications</a>
						</div>
				</div></div>
			</div>
		</div>
	</div>
<!-- END NAVIGATION BAR -->

<!-- MENU LEFT -->
<div class="menu_left_fixed" id="menu_big">
	<span class="quick_menu_header"><i class="fa fa-list-alt"></i>Quick Menu</span>
	<span class="menu_hide_btn"><i class="fa fa-minus"></i></span>
	<div class="menu_left_btn_grid">
		<ul>
			<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="#"><i class="fa fa-male" id="quickmenu_profile_icon"></i>My Profile</a></li>
		</ul>
		<ul>
			<li><a href="#"><i class="fa fa-comments-o"></i>Browse Chatrooms</a></li>
			<li><a href="#"><i class="fa fa-gamepad"></i>Browse Games</a></li>
			<li><a href="#"><i class="fa fa-heart"></i>Favorite Rooms</a></li>
			<li><a href="#"><i class="fa fa-plus-circle"></i>Create Room</a></li>
		</ul>
	</div>
</div>

<div class="menu_left_fixed" id="menu_small">
	<span class="menu_show_btn"><i class="fa fa-plus"></i></span>
	<div class="menu_left_btn_grid">
		<ul>
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#"><i class="fa fa-male" id="quickmenu_profile_icon"></i></a></li>
		</ul>
		<ul>
			<li><a href="#"><i class="fa fa-comments-o"></i></a></li>
			<li><a href="#"><i class="fa fa-gamepad"></i></a></li>
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="#"><i class="fa fa-plus-circle"></i></a></li>
		</ul>
	</div>
</div>
<!-- END MENU LEFT -->